<div class="row">
    <div class="col-md-12 content-card">
        <h1>{{ .Title }}</h1>
        {{ if eq .Type "post" }}
            <ul class="list-inline meta">
                <li><i class="fa fa-calendar"></i>{{ .Date.Format "2 January 2006" }}</li>
                <li><i class="fa fa-user"></i>{{ .Params.author }}</li>
                {{ end }}
            </ul>
        {{ end }}
        {{ .Content }}
        
        {{ partial "widgets/content/share.html" . }}
    
        {{ partial "widgets/content/tags.html" . }}
    </div>
</div>
